<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user register</title>
</head>
<body>
    <h3>user register</h3>
    <form th:action="@{/templates/user2/register}" method="post">
        <table border="1">
            <tr>
                <td>ID</td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pass"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                <td>Hp</td>
                <td><input type="text" name="hp"></td>
            </tr>
            <tr>
                <td>authority</td>
                <td>
                    <select name="role">
                        <option value="ADMIN">최고관리자</option>
                        <option value="MANAGER">운영자</option>
                        <option value="USER">일반사용자</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="register"></td>
            </tr>
        </table>
    </form>
</body>
</html>