<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024-03-12
        이름 : 이승윤
        내용 : ch07. Spring Data JPA 실습
    -->
</head>
<body>
    <h3>ch07. Spring Data JPA 실습</h3>
    <h4>JPA 기본</h4>
    <a th:href="@{/user1/list}">user1 목록</a>
    <a th:href="@{/user2/list}">user2 목록</a>
    <a th:href="@{/user3/list}">user3 목록</a>
    <a th:href="@{/user4/list}">user4 목록</a>
    <a th:href="@{/user5/list}">user5 목록</a>

    <h4>JPA 기본</h4>

</body>
</html>