<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<!--
    - http://localhost:8080/sboard/user/findId
    - 회원가입한 이메일로 인증을 받고 이름과 이메일로 사용자 조회
    - 조회된 사용자는 아이디 찾기 결과 페이지에 출력
-->
<div class="container" layout:fragment="content">
    <script>
        //유효성 검사에 사용할 상태변수
        let isUidOk   = false;
        let isPassOk  = false;
        let isNameOk  = false;
        let isNickOk  = false;
        let isEmailOk = false;
        let isHpOk    = false;

        // 유효성 검사에 사용할 정규표현식
        const reUid   = /^[a-z]+[a-z0-9]{4,19}$/g;
        const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
        const reName  = /^[가-힣]{2,10}$/
        const reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;

        window.onload = function (){

            console.log('register open');
            // 아이디 유효성 검사
            const btnCheckUid = document.getElementById('btnCheckUid');
            const resultUid = document.getElementById('resultUid');

            btnCheckUid.onclick = function() {
                const type       = this.dataset.type;
                const input      = document.registerForm[type];
                const spinner    = this.getElementsByClassName('spinner')[0];

                console.log('value : ' + input.value);

                // 정규식 검사
                if(!input.value.match(reUid)){
                    input.classList.add('is-invalid');
                    resultUid.classList.add('invalid-feedback');
                    resultUid.innerText = '아이디 형식이 맞지 않습니다.';
                    isUidOk = false;
                    return;
                }

                spinner.classList.remove('d-none');

                setTimeout(async () => {

                    console.log('value : ' + input.value);

                    const data = await fetchGet(`/sboard/user/${type}/${input.value}`);

                    if(data.result > 0){
                        spinner.classList.add('d-none');
                        input.classList.add('is-invalid');

                        resultUid.classList.add('invalid-feedback');
                        resultUid.innerText = '이미 사용중인 아이디 입니다.';
                        isUidOk = false;
                    }else{
                        spinner.classList.add('d-none');
                        resultUid.classList.remove('invalid-feedback');
                        input.classList.add('is-valid');

                        resultUid.classList.remove('invalid-feedback');
                        resultUid.classList.add('valid-feedback');
                        resultUid.innerText = '사용 가능한 아이디 입니다.';
                        isUidOk = true;
                    }
                }, 1000);
            }

            // 이메일 유효성 검사
            const divEmailCode = document.getElementById('divEmailCode');
            const inputEmail = document.getElementById('inputEmail');
            const btnCheckEmail = document.getElementById('btnCheckEmail');
            const resultEmail = document.getElementById('resultEmail');

            btnCheckEmail.onclick = function(){

                const type       = this.dataset.type;
                const spinner = this.getElementsByClassName('spinner')[0];

                // 유효성 검사
                if(!inputEmail.value.match(reEmail)){
                    inputEmail.classList.add('is-invalid');
                    resultEmail.classList.add('invalid-feedback');
                    resultEmail.innerText = '이메일 형식이 맞지 않습니다.';
                    isEmailOk = false;
                    return;
                }

                spinner.classList.remove('d-none');

                // 이메일 인증코드 발급 및 중복체크 추가 예정
                setTimeout(async () => {

                    // 인증코드 입력 필드 활성화
                    spinner.classList.add('d-none');
                    divEmailCode.classList.remove('d-none');

                    console.log('type : ' + type);
                    console.log('inputEmail value : ' + inputEmail.value);

                    const data = await fetchGet(`/sboard/user/${type}/${inputEmail.value}`);
                    console.log('data : ' + data.result);

                    if(data.result > 0){
                        inputEmail.classList.add('is-invalid');
                        resultEmail.classList.add('invalid-feedback');
                        resultEmail.innerText = '이미 사용중인 이메일 입니다.';
                        isEmailOk = false;
                    }

                }, 1000);

                isEmailOk = true;
            }

            // 이메일 인증코드 확인
            const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');
            const inputEmailCode = document.getElementById('inputEmailCode');

            btnCheckEmailCode.onclick = async function (){
                const data = await fetchGet(`/sboard/email/${inputEmailCode.value}`);

                if(!data.result){
                    inputEmail.classList.add('is-invalid');
                    inputEmailCode.classList.add('is-invalid');
                    resultEmail.classList.add('invalid-feedback');
                    resultEmail.innerText = '인증코드가 일치하지 않습니다.';
                    isEmailOk = false;
                }else{
                    inputEmail.classList.add('is-valid');
                    inputEmailCode.classList.add('is-valid');
                    resultEmail.classList.add('valid-feedback');
                    resultEmail.innerText = '이메일이 인증되었습니다.';
                    isEmailOk = true;
                }

            }

            // 최종 유효성 검사 확인
            document.registerForm.onsubmit = function (){

                if(!isUidOk){
                    showModal('아이디가 유효하지 않습니다.');
                    return false;
                }


                if(!isNameOk){
                    showModal('이름이 유효하지 않습니다.');
                    return false;
                }


                if(!isEmailOk){
                    showModal('이메일이 유효하지 않습니다.');
                    return false;
                }


                // 폼 전송
                return true;
            }
        }


    </script>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">아이디 찾기</h3></div>
                <div class="card-body">
                    <form name="formFindId" method="post">
                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputName" type="text" id="inputName" name="name" placeholder="" />
                                    <label for="inputName">이름 입력</label>
                                </div>
                                <div id="resultName" class="d-block"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputEmail" type="text" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                                <div id="resultEmail" class="d-block"></div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmail" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control inputEmailCode" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmailCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                        </div>

                        <div id="resultEmailCode" class="d-block"></div>

                        <p class="small">
                            회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                            인증번호를 입력 후 확인 버튼을 누르세요.
                        </p>

                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findIdResult}" class="btn btn-primary" id="btnNext">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>